<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- implementing boostrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">

    <title>{%block title%}{%endblock%}</title>
</head>
<body>
    <div class = "container-fluid">
        <h1> URL Shortener</h1>
        <hr>
        {%block content%}
        {%endblock%}
    </div>
<!-- implementing boostrap-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</body>
</html>