{%extends "baseTemp2.html" %}

{% block title %} URL shortener{% endblock %}
{% block h3%} SHORTEN YOUR URL {%endblock%}
{%block h1%} SHORTEN YOUR URL {%endblock%}
{%block content%}
<form action = "#", method = "post">
    <label for = "url"> Enter an https:// URL: </label>
    <input type = "url" name = "urlName" id = "url" placeholder="https://myURL.com" pattern = "https://.*" size="50" required>
    <br>
    <input type="submit" value="SUBMIT" class="btn btn-lg btn-light fw-bold border-white bg-white">
</form>
{%endblock%}