{% extends "baseTemp2.html" %}

{% block title %} URL shortener{% endblock %}
{% block h3%} SHORTENED URL {%endblock%}
{%block h1%} Short Url {%endblock%}
{% block content %}
<h2>please copy the url and paste it to the search bar or click on the button PAGE</h2>
<h1> http://127.0.0.1:5000/{{short_url_display}}</h1>
<a class="btn btn-lg btn-light fw-bold border-white bg-white" href="http://127.0.0.1:5000/{{short_url_display}}" role="button">PAGE</a>
<a class="btn btn-lg btn-light fw-bold border-white bg-white" href="http://127.0.0.1:5000/" role="button">HOME</a>
{% endblock %}